@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.66rem;
}

h3 {
  font-size: 1.11rem;
}

h1, h2, h3 {
  color: #292E3D;
  font-weight: 700;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  color: #858EAD;
}

button {
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.header h1, .header h2, .header p {
  text-align: center;
  margin: 30px;
}

.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.containerCard .card {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 18px;
  padding: 20px;
  border-radius: 4px;
  border: solid 1px #E0E3EB;
}
.containerCard .card img {
  max-width: 40px;
  max-height: 40px;
}

.debug1 {
  border: solid 3px red;
  padding: 5px;
}

.debug2 {
  border: solid 3px blue;
  padding: 5px;
}

.debug3 {
  border: solid 3px green;
  padding: 5px;
}

.debug4 {
  border: solid 3px orange;
  padding: 5px;
}

.debug5 {
  border: solid 3px purple;
  padding: 5px;
}

section .aside {
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 20px;
}
section .aside nav h2 {
  font-size: 2.25rem;
}
section .aside nav ul {
  padding-top: 35px;
}
section .aside nav ul li {
  font-size: 1.5rem;
  font-weight: 700;
  color: #C2C7D6;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}
section .aside nav ul li a {
  color: #2947A9;
}
section .aside nav ul .active {
  color: #2947A9;
  border-left: 4px solid;
}
section .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
section .content .container-card .card2 {
  display: flex;
  flex-direction: column;
  background-color: #2947A9;
  gap: 12px;
  margin-bottom: 12px;
}
section .content .container-card .card2 h3, section .content .container-card .card2 p {
  padding-left: 12px;
  color: #FFFFFF;
}
section .content .container-card .card2 p {
  padding-bottom: 16px;
}
section .content .btn {
  display: none;
}
section .content .btn-more {
  min-width: 100%;
  padding: 20px;
  background-color: #292E3D;
  color: #FFFFFF;
  font-size: 1.125rem;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  padding-top: 100px;
  padding-bottom: 30px;
}
#form h2, #form p {
  text-align: center;
  padding: 0px 20px;
}
#form p {
  font-size: 1.25rem;
  font-weight: 400;
}
#form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
#form form fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#form form fieldset input, #form form fieldset select {
  line-height: 21.11px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  color: #A3AAC2;
}
#form form fieldset input::placeholder {
  color: #A3AAC2;
}
#form form .file-input, #form form textarea {
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
  color: #A3AAC2;
}
#form form textarea::placeholder {
  color: #A3AAC2;
}
#form form p {
  align-self: flex-start;
  font-size: 1rem;
}
#form form p span {
  color: red;
}
#form form button {
  background-color: #2947a9;
  color: white;
  font-weight: 600;
  padding: 15px;
  align-self: center;
  max-width: 271px;
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
}

#homepage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#homepage header .nav-collapse {
  display: none;
}
#homepage header .fa-bars {
  color: #667299;
  font-size: 2rem;
}
#homepage .banner {
  background-image: url("./uploads/hero-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#homepage .banner h1 {
  display: block;
  z-index: 1;
  text-align: center;
  max-width: 60%;
  text-align: justify;
}

@media screen and (min-width: 900px) {
  .containerCard {
    flex-direction: row;
  }
  .containerCard .card {
    max-width: 332px;
    overflow: auto;
  }
  .content {
    flex-direction: row;
    justify-content: space-around !important;
  }
  .content .aside {
    display: flex !important;
  }
  .content .container-card-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .container-card-btn .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .content .container-card-btn .container-card .card2 {
    gap: 12px;
  }
  .content .container-card-btn .container-card .card2 img {
    object-fit: fill;
    max-width: 100%;
  }
  .content .container-card-btn .btn-more {
    display: none;
  }
  .content .container-card-btn .btn-active {
    color: #2947A9 !important;
  }
  .content .container-card-btn .hidden {
    color: #E0E3EB;
  }
  .content .container-card-btn .btn {
    display: flex !important;
    align-items: center;
    gap: 9px;
    width: 100%;
  }
  .content .container-card-btn .btn .btn-hidden {
    background-color: #292E3D;
    color: #FFFFFF;
    padding: 20px;
    width: 100%;
  }
  #form {
    max-width: 800px;
  }
  #form form fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #homepage {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
