.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;

    .card {
        display: flex;
        flex-direction: column;
        width: 80%;

        gap: 18px;
        padding: 20px;
        border-radius: 4px;
        border: solid 1px #E0E3EB;
    
        img{
            max-width: 40px;
            max-height: 40px;
        }
    }
}

.debug1{
    border: solid 3px red;
    padding: 5px;
}
.debug2{
    border: solid 3px blue;
    padding: 5px;

}
.debug3{
    border: solid 3px green;
    padding: 5px;

}
.debug4{
    border: solid 3px orange;
    padding: 5px;

}
.debug5{
    border: solid 3px purple;
    padding: 5px;

}

section {
    .aside{
        display: none;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 20px;
        nav{

            h2{
                font-size: 2.25rem;
            }
            
            ul{
                padding-top: 35px;
                li {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #C2C7D6;
                    padding-left: 20px;
                    margin-bottom: 20px;
                    margin-right: auto;

                    a {
                        color: #2947A9;
                    }
                }
        
                .active{
                    color: #2947A9;
                    border-left: 4px solid;
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .container-card{

            .card2 {
                display: flex;
                flex-direction: column;
                background-color: #2947A9;
                gap: 12px;
                margin-bottom: 12px;
                h3,p {
                    padding-left: 12px;
                    color: #FFFFFF;
                }
        
                p{
                    padding-bottom: 16px;
                }
            }
            
        }

        .btn{
            display: none;
        }

        .btn-more {
            min-width: 100%;
            padding: 20px;
            background-color: #292E3D;
            color: #FFFFFF;
            font-size: 1.125rem;
        }
    }
    

}   

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 29px;
    padding-top: 100px;
    padding-bottom: 30px;

    h2,p{
        text-align: center;
        padding: 0px 20px;
    }

    p{
        font-size: 1.25rem;
        font-weight: 400;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        fieldset {
            display: flex;
            flex-direction: column;
            gap: 20px;
            input,select{
                line-height: 21.11px;
                border: 1px solid #e0e3eb;
                border-radius: 4px;
                padding: 10px;
                font-family: 'Work Sans', sans-serif;
                font-size: 1.25rem;
                color: #A3AAC2;
            }

            input::placeholder{
                color: #A3AAC2;
            }
        }

        .file-input,textarea{
            border: 1px solid #e0e3eb;
            border-radius: 4px;
            padding: 10px;
            font-family: 'Work Sans', sans-serif;
            font-size: 1.25rem;
            color: #A3AAC2;
        }

        textarea::placeholder{
            color: #A3AAC2;
        }

        p{
            align-self: flex-start;
            font-size: 1rem;
            span{
                color: red;
            }
        }

        button{
            background-color: #2947a9;
            color: white;
            font-weight: 600;
            padding: 15px;
            align-self: center;
            max-width: 271px;
            width: 100%;
            cursor: pointer;
            font-size: 1.25rem;
            border: none;
            border-radius: 2px;
        }
    }
}

#homepage {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        .nav-collapse{
            display: none;
        }
    
        .fa-bars{
            color: #667299;
            font-size: 2rem;
        }
    }

    .banner{
        background-image: url('./uploads/hero-mobile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h1{
            display: block;
            text-align: center;
            max-width: 60%;
            text-align: justify;
        }
    }
}

    
@media screen and (min-width: 900px) {
    .containerCard{
        flex-direction: row;

        .card{
            max-width: 332px;
            overflow: auto;
        }
    }
    
    .content{
        flex-direction: row;
        justify-content: space-around !important;

        .aside {
            display: flex !important;
        }

        .container-card-btn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .container-card{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .card2{
                    gap: 12px;

                    img {
                        object-fit: fill;
                        max-width: 100%;
                    }
                }
                
            }

            .btn-more {
                display: none;
            }

            .btn-active {
                color: #2947A9 !important;
            }

            .hidden {
                color: #E0E3EB;
            }

            .btn{
                display: flex !important;
                align-items: center;
                gap: 9px;
                width: 100%;
                .btn-hidden {
                    background-color: #292E3D;
                    color: #FFFFFF;
                    padding: 20px;
                    width: 100%;
                }
            }
        }
 
    }

    #form {
        max-width: 800px;
       form{
            fieldset{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
       }
    }


    #homepage {
        display: flex;
    }
}
