.containerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    .card {
        display: flex;
        flex-direction: column;
        max-width: 332px;

        gap: 18px;
        padding: 20px;
        border-radius: 4px;
        border: solid 1px #E0E3EB;
    
        img{
            max-width: 40px;
            max-height: 40px;
        }
    }
}

.debug1{
    border: solid 3px red;
    padding: 5px;
}
.debug2{
    border: solid 3px blue;
    padding: 5px;

}
.debug3{
    border: solid 3px green;
    padding: 5px;

}
.debug4{
    border: solid 3px orange;
    padding: 5px;

}
.debug5{
    border: solid 3px purple;
    padding: 5px;

}

section {
    .aside{
        display: none;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 20px;
        nav{

            h2{
                font-size: 2.25rem;
            }
            
            ul{
                padding-top: 35px;
                li {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #C2C7D6;
                    padding-left: 20px;
                    margin-bottom: 20px;
                    margin-right: auto;

                    a {
                        color: #2947A9;
                    }
                }
        
                .active{
                    color: #2947A9;
                    border-left: 4px solid;
                }
            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .container-card{

            .card2 {
                display: flex;
                flex-direction: column;
                background-color: #2947A9;
                gap: 12px;
                margin-bottom: 12px;
                h3,p {
                    padding-left: 12px;
                    color: #FFFFFF;
                }
        
                p{
                    padding-bottom: 16px;
                }
            }
            
        }

        .btn{
            display: none;
        }

        .btn-more {
            min-width: 100%;
            padding: 20px;
            background-color: #292E3D;
            color: #FFFFFF;
            font-size: 1.125rem;
        }
    }
    

}   

    
@media screen and (min-width: 900px) {
    .containerCard{
        flex-direction: row;
    }
    
    .content{
        flex-direction: row;
        justify-content: space-between !important;

        .aside {
            display: flex !important;
        }

        .container-card-btn{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .container-card{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .card2{
                    gap: 12px;

                    img {
                        object-fit: fill;
                        max-width: 100%;
                    }
                }
                
            }

            .btn-more {
                display: none;
            }

            .btn-active {
                color: #2947A9;
            }

            .btn{
                display: flex !important;
                align-items: center;
                gap: 9px;
               
                .btn-hidden {
                    background-color: #292E3D;
                    color: #FFFFFF;
                    padding: 20px;

                }
            }
        }
 
    }

    
}
